---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config-v4
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ceph-block
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-backup-v4
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: slow-ceph-filesystem
