---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/onedr0p/sonarr
      tag: 4.0.2.1183@sha256:42ba5af9b0ea20f4db4622991e0f1657be02c6e8747872c652fdac193c097b25
    env:
      TZ: "America/New_York"
      SONARR__LOG_LEVEL: info
      SONARR__APPLICATION_URL: "https://{{ .Release.Name }}.scr1.rabbito.tech"
      SONARR__INSTANCE_NAME: Sonarr
    envFrom:
      - secretRef:
          name: sonarr
    service:
      main:
        ports:
          http:
            port: 8989
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
        hosts:
          - host: "sonarr.scr1.rabbito.tech"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: sonarr-tls
            hosts:
              - "sonarr.scr1.rabbito.tech"
    securityContext:
      seLinuxOptions:
        level: s0
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: fast-ceph-block
    persistence:
      media:
        enabled: true
        existingClaim: media-v2
        mountPath: /media
      backup:
        enabled: true
        existingClaim: sonarr-backup-v4
        mountPath: /config/Backups
    resources:
      requests:
        memory: 150Mi
        cpu: 10m
      limits:
        memory: 350Mi
        cpu: 500m
