---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent-vpn
  namespace: media
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    name: qbittorrent-vpn
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        WIREGUARD_PRIVATE_KEY: "{{ .protonvpnWireguardPrivateKey }}"
  data:
    - secretKey: protonvpnWireguardPrivateKey
      remoteRef:
        key: protonvpnWireguardPrivateKey
