apiVersion: kamaji.clastix.io/v1alpha1
kind: TenantControlPlane
metadata:
  name: qgr1
  namespace: tenant-cluster-qgr1
  labels:
    tenant.clastix.io: qgr1
spec:
  dataStore: default
  controlPlane:
    deployment:
      replicas: 3
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
      extraArgs:
        apiServer: []
        controllerManager: []
        scheduler: []
      resources:
        apiServer:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 512Mi
        controllerManager:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        scheduler:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
    service:
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
        annotations:
          tailscale.com/hostname: qgr1-k8s
          tailscale.com/expose: "true"
          tailscale.com/proxy-class: "default"
      serviceType: ClusterIP
  kubernetes:
    version: v1.34.0
    kubelet:
      cgroupfs: systemd
    admissionControllers:
      - ResourceQuota
      - LimitRanger
  networkProfile:
    port: 6443
    certSANs:
    - qgr1.cluster.local
    - qgr1-k8s.mole-bowfin.ts.net
    serviceCidr: 10.96.0.0/16
    podCidr: 10.36.0.0/16
    dnsServiceIPs:
    - 10.96.0.10
  addons:
    coreDNS: {}
    konnectivity:
      server:
        port: 8132
        resources:
          requests:
            cpu: 25m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
        agent:
          extraArgs:
            proxy-server-host: qgr1-k8s.mole-bowfin.ts.net
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
