apiVersion: kamaji.clastix.io/v1alpha1
kind: TenantControlPlane
metadata:
  name: qgr1
  namespace: tenant-cluster-qgr1
  labels:
    tenant.clastix.io: qgr1
spec:
  dataStore: default
  controlPlane:
    deployment:
      replicas: 3
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
      extraArgs:
        apiServer:
          - --advertise-address=100.94.68.123
        controllerManager: []
        scheduler: []
      resources:
        apiServer:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 2000m
            memory: 2Gi
        controllerManager:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
        scheduler:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
    service:
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
        annotations:
          tailscale.com/hostname: qgr1-k8s
          tailscale.com/expose: "true"
          tailscale.com/proxy-class: "default"
      serviceType: ClusterIP
  kubernetes:
    version: v1.34.0
    kubelet:
      cgroupfs: systemd
      preferredAddressTypes:
        - InternalIP
        - Hostname
        - ExternalIP
    admissionControllers:
      - ResourceQuota
      - LimitRanger
  networkProfile:
    address: 100.94.68.123
    port: 6443
    certSANs:
    - qgr1.cluster.local
    - qgr1-k8s.mole-bowfin.ts.net
    - 100.94.68.123
    serviceCidr: 10.96.0.0/16
    podCidr: 10.36.0.0/16
    dnsServiceIPs:
    - 10.96.0.10
  addons:
    coreDNS: {}
    konnectivity:
      server:
        port: 8132
        resources:
          requests:
            cpu: 25m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
      agent:
        extraArgs:
          - --proxy-server-host=100.94.68.123
