**/.terraform
/ansible/output/
/ansible/debug.yml
/ansible/test-inventory/*
/ansible/playbooks/home-kubic/output/
ansible/k8s-cilium-exec.sh
clusters/nwk1/gitops/openebs/openebs/uninstall.sh
bin/
flux
.vscode
