**.secrets.env filter=git-crypt diff=git-crypt
**.env filter=git-crypt diff=git-crypt
**.tfstate.backup filter=git-crypt diff=git-crypt
**.tfstate filter=git-crypt diff=git-crypt
**mercury-config filter=git-crypt diff=git-crypt
