---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: infra
spec:
  interval: 15m
  chart:
    spec:
      chart: external-secrets
      version: 0.20.4
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 15m
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
