---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: sonarr-uhd
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: sonarr
      version: 16.3.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:20142e89dab967c01765b0aea3be4cec3a5957cc330f061e5503ef6168ae6613
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/onedr0p/sonarr-develop
      tag: 3.0.9.1555@sha256:63e06362f8c14829086c908e6e92768bc22568b70095bc21124cdf21f235e785
    env:
      TZ: "America/New_York"
      SONARR__LOG_LEVEL: info
      SONARR__BRANCH: nightly
      SONARR__APPLICATION_URL: "https://{{ .Release.Name }}.${INT_DOMAIN}"
      SONARR__AUTHENTICATION_METHOD: External
    envFrom:
      - secretRef:
          name: sonarr
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: "sonarr-uhd.${INT_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: sonarr-uhd-tls
            hosts:
              - "sonarr-uhd.${INT_DOMAIN}"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    metrics:
      enabled: true
      serviceMonitor:
        interval: 3m
        scrapeTimeout: 1m
      prometheusRule:
        enabled: true
      exporter:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v1.1.0
        env:
          port: 9794
          additionalMetrics: true
          unknownQueueItems: false
    persistence:
      config:
        enabled: true
        existingClaim: sonarr-uhd-config-v1
      media:
        enabled: true
        existingClaim: media
        mountPath: /media
      backup:
        enabled: true
        existingClaim: sonarr-uhd-backup-v1
        mountPath: /config/Backups
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
      limits:
        memory: 1500Mi
    podAnnotations:
      backup.velero.io/backup-volumes: config
