cluster-0-master-01.scr1.rabbito.tech.yaml
cluster-0-master-02.scr1.rabbito.tech.yaml
cluster-0-master-03.scr1.rabbito.tech.yaml
cluster-0-worker-01.scr1.rabbito.tech.yaml
cluster-0-worker-02.scr1.rabbito.tech.yaml
cluster-0-worker-03.scr1.rabbito.tech.yaml
cluster-0-worker-04.scr1.rabbito.tech.yaml
cluster-0-worker-05.scr1.rabbito.tech.yaml
cluster-0-worker-06.scr1.rabbito.tech.yaml
cluster-0-worker-07.scr1.rabbito.tech.yaml
cluster-0-worker-08.scr1.rabbito.tech.yaml
cluster-0-worker-09.scr1.rabbito.tech.yaml
cluster-0-worker-10.scr1.rabbito.tech.yaml
cluster-0-worker-11.scr1.rabbito.tech.yaml
cluster-0-worker-12.scr1.rabbito.tech.yaml
talosconfig
scr1-cluster-0-master-01.scr1.rabbito.tech.yaml
scr1-cluster-0-master-02.scr1.rabbito.tech.yaml
scr1-cluster-0-master-03.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-01.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-02.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-03.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-04.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-05.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-06.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-07.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-08.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-09.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-10.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-11.scr1.rabbito.tech.yaml
scr1-cluster-0-worker-12.scr1.rabbito.tech.yaml
