---
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    version: "2.7.3"
    registry: "ghcr.io/fluxcd"
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  cluster:
    type: kubernetes
    multitenant: false
    networkPolicy: false
    domain: "cluster.local"
  sync:
    kind: GitRepository
    url: ssh://git@github.com/anthr76/infra
    ref: "refs/heads/main"
    path: "k8s/clusters/civo-mgmt-0/gotk/flux-system"
    pullSecret: "flux-system"
