---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: clastix
  namespace: flux-system
spec:
  interval: 1h
  timeout: 3m
  url: https://github.com/clastix/kamaji
  ref:
    tag: edge-25.12.4
  sparseCheckout:
    - charts
