---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: oauth2-proxy-charts
  namespace: flux-system
spec:
  interval: 1h
  timeout: 3m
  url: https://oauth2-proxy.github.io/manifests
