---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nzbget-config-v1
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ceph-block
