---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
  namespace: database
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.22.1
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  values:
    nodeSelector:
      kubernetes.io/arch: amd64
