---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-nwk3-config
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: fast-ceph-block
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-cache-nwk3
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: fast-ceph-block
