---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ceph-block
