---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: calibre
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 0.1.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:20142e89dab967c01765b0aea3be4cec3a5957cc330f061e5503ef6168ae6613
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/linuxserver/calibre
      tag: version-v6.3.0
    env:
      PGID: "65539"
      PUID: "1000"
      UMASK_SET: "022"
    service:
      main:
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: ClusterIP
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: &host calibre.scr1.rabbito.tech
            paths:
              - path: /
        tls:
          - secretName: calibre-tls
            hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: calibre-config-v1
      media:
        enabled: true
        existingClaim: media
        mountPath: /media
    resources:
      requests:
        cpu: 15m
        memory: 298M
      limits:
        memory: 357M
