---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: networking
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.2.5
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system
      interval: 5m
  values:
    controller:
      priorityClassName: system-cluster-critical
      replicaCount: 2
      # tolerations:
      #   - effect: NoSchedule
      #     key: "node-role.kubernetes.io/master"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: feature.node.kubernetes.io/custom-intel-10g
                operator: In
                values:
                - "true"
      autoscaling:
        enabled: true
        minReplicas: 3
        maxReplicas: 6
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80
        behavior:
          scaleDown:
           stabilizationWindowSeconds: 300
           policies:
            - type: Pods
              value: 1
              periodSeconds: 180
          scaleUp:
            stabilizationWindowSeconds: 300
            policies:
            - type: Pods
              value: 2
              periodSeconds: 60
      service:
        enabled: true
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: ${INGRESS_ENDPOINT_HOSTNAME}
          metallb.universe.tf/allow-shared-ip: "nginx"
          metallb.universe.tf/loadBalancerIPs: "${SVC_WEB_ADDR}"
        externalTrafficPolicy: Local
        ipFamilyPolicy: "PreferDualStack"
        ipFamilies:
          - IPv4
          - IPv6
      publishService:
        enabled: false
      extraArgs:
        publish-status-address: "${INGRESS_ENDPOINT_HOSTNAME}"
        default-ssl-certificate: "networking/wc-kutara-tls"
      ingressClassResource:
        default: true
      config:
        custom-http-errors: >-
          401,403,404,500,501,502,503
        enable-brotli: "true"
        ssl-protocols: "TLSv1.3 TLSv1.2"
        use-forwarded-headers: "true"
        service-upstream: "true"
        limit-req-status-code: "429"
        limit-conn-status-code: "429"
        # Testing
        client-body-timeout: "12"
        client-header-timeout: "12"
        gzip-min-length: "10240"
        http2-max-concurrent-streams: "60000"
        keep-alive-requests: "1000000" 
        max-worker-connections: "0"
        max-worker-open-files: "65536"
        proxy-read-timeout: "10"
        proxy-send-timeout: "10"
        upstream-keepalive-connections: "500"
        upstream-keepalive-requests: "10000"
        upstream-keepalive-timeout: "60"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: networking
          namespaceSelector:
            any: true
        prometheusRule:
          enabled: false
      topologySpreadConstraints:
        - maxSkew: 3
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: ingress-nginx
              app.kubernetes.io/component: controller
      resources:
        requests:
          cpu: 2281m
          memory: 524M
        limits:
          cpu: 2281m
          memory: 524M
    defaultBackend:
      enabled: true
      autoscaling:
        enabled: true
        maxReplicas: 3
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 2.18.0
      extraEnvs:
        - name: TEMPLATE_NAME
          value: lost-in-space
        - name: SHOW_DETAILS
          value: "false"
      resources:
        requests:
          cpu: 15m
          memory: 105M
        limits:
          cpu: 20m
          memory: 105M
