---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.19.0
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  dependsOn:
    - name: rook-ceph
  values:
    toolbox:
      enabled: false
    monitoring:
      enabled: true
    cephClusterSpec:
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: ceph-block
      isDefault: true
      deletionPolicy: Delete
    cephBlockPools:
      - name: fast-ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
          deviceClass: ssd
        storageClass:
          enabled: true
          name: fast-ceph-block
          isDefault: false
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          mountOptions: []
          parameters:
            compression_mode: aggressive
            compression_algorithm: zstd
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
      - name: builtin-mgr
        spec:
          name: .mgr
          failureDomain: host
          replicated:
            size: 3
            requireSafeReplicaSize: true
          deviceClass: ssd
          parameters:
            compression_mode: none
        storageClass:
          enabled: false
      - name: slow-ceph-blockpool
        spec:
          failureDomain: osd
          replicated:
            size: 2
            # requireSafeReplicaSize: false
          deviceClass: hdd
        storageClass:
          enabled: true
          name: slow-ceph-block
          isDefault: false
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          mountOptions: []
          parameters:
            compression_mode: aggressive
            compression_algorithm: zstd
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephFileSystems:
      - name: fast-ceph-filesystem
        spec:
          metadataPool:
            deviceClass: ssd
            replicated:
              size: 3
          dataPools:
            - failureDomain: host
              replicated:
                size: 3
              name: fast-data0
              deviceClass: ssd
          metadataServer:
            activeCount: 1
            activeStandby: true
            priorityClassName: system-cluster-critical
        storageClass:
          enabled: true
          isDefault: false
          name: fast-ceph-filesystem
          pool: fast-data0
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          mountOptions: []
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
      - name: slow-ceph-filesystem
        spec:
          metadataPool:
            deviceClass: ssd
            replicated:
              size: 3
          dataPools:
            - failureDomain: osd
              replicated:
                size: 2
              name: slow-data0
              deviceClass: hdd
          metadataServer:
            activeCount: 1
            activeStandby: true
            priorityClassName: system-cluster-critical
        storageClass:
          enabled: true
          isDefault: false
          name: slow-ceph-filesystem
          pool: slow-data0
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          mountOptions: []
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
    cephObjectStores:
      - name: slow-ceph-objectstore
        spec:
          metadataPool:
            deviceClass: ssd
            failureDomain: host
            replicated:
              size: 2
          dataPool:
            failureDomain: osd
            deviceClass: hdd
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
          preservePoolsOnDelete: false
          gateway:
            port: 80
            hostNetwork: false
            resources:
              limits:
                cpu: "2000m"
                memory: "2Gi"
              requests:
                cpu: "1000m"
                memory: "1Gi"
            instances: 1
            priorityClassName: system-cluster-critical
        storageClass:
          enabled: true
          name: slow-ceph-bucket
          reclaimPolicy: Delete
          parameters:
            region: us-east-1
    route:
      dashboard:
        host:
          name: "rook.qgr1.rabbito.tech"
          path: "/"
          pathType: PathPrefix
        parentRefs:
          - name: cilium-internal
            namespace: kube-system
            sectionName: https
