---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: &app recyclarr
  namespace: media
spec:
  schedule: "0 3 * * *"
  concurrencyPolicy: "Forbid"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 5
  jobTemplate:
    spec:
      backoffLimit: 3
      ttlSecondsAfterFinished: 300
      template:
        spec:
          automountServiceAccountToken: false
          restartPolicy: OnFailure
          containers:
            - name: sonarrs
              image: ghcr.io/k8s-at-home/recyclarr:v2.4.1@sha256:35b3fc7f9e6c32fcced150be67b6b1ccef34033534dfe8335c40cbdb9b036f1f
              env:
                - name: TZ
                  value: America/New_York
              command:
                - /app/recyclarr
              args:
                - sonarr
                - --app-data
                - /tmp/recyclarr                
                - --config
                - /config/recyclarr.yaml
              volumeMounts:
                - name: config
                  mountPath: /config
            - name: radarrs
              image: ghcr.io/k8s-at-home/recyclarr:v2.4.1@sha256:35b3fc7f9e6c32fcced150be67b6b1ccef34033534dfe8335c40cbdb9b036f1f
              env:
                - name: TZ
                  value: "America/New_York"
              command:
                - /app/recyclarr
              args:
                - radarr
                - --app-data
                - /tmp/recyclarr                  
                - --config
                - /config/recyclarr.yaml
              volumeMounts:
                - name: config
                  mountPath: /config/
          volumes:
            - name: config
              secret:
                secretName: *app
