# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cert-manager.io/clusterissuer_v1.json
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: ted437+k8s@gmail.com
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            email: ted437@gmail.com
            apiTokenSecretRef:
              name: cert-manager
              key: CLOUDFLARE_DNS_TOKEN
        selector:
          dnsZones:
            - rabbito.tech
            - kutara.io
