---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: rook-ceph
      version: v1.9.9
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    crds:
      enabled: true
    monitoring:
      enabled: true
    csi:
      enableOMAPGenerator: true
      volumeReplication:
        enabled: true
    resources:
      requests:
        cpu: 350m
        memory: 128Mi
      limits:
        cpu: 1000m
        memory: 356Mi
