---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.0
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  values:
    crds:
      enabled: true
    monitoring:
      enabled: true
    csi:
      csiRBDPluginVolume:
        - name: lib-modules
          hostPath:
            path: /run/booted-system/kernel-modules/lib/modules/
        - name: host-nix
          hostPath:
            path: /nix
      csiRBDPluginVolumeMount:
        - name: host-nix
          mountPath: /nix
          readOnly: true
      csiCephFSPluginVolume:
        - name: lib-modules
          hostPath:
            path: /run/booted-system/kernel-modules/lib/modules/
        - name: host-nix
          hostPath:
            path: /nix
      csiCephFSPluginVolumeMount:
        - name: host-nix
          mountPath: /nix
          readOnly: true
