---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nats-nwk3
  namespace: home
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: nats
      version: 2.12.3
      sourceRef:
        kind: HelmRepository
        name: nats-charts
        namespace: flux-system
  values:
    config:
      cluster:
        enabled: true
        replicas: 3
      jetstream:
        enabled: true
        fileStore:
          enabled: true
          pvc:
            enabled: true
            size: 10Gi
            storageClassName: fast-ceph-block
      mqtt:
        enabled: true
    extraResources:
      - apiVersion: v1
        kind: Service
        metadata:
          name: nats-nwk3-mqtt
          namespace: home
          annotations:
            external-dns.alpha.kubernetes.io/hostname: mqtt-nwk3.qgr1.rabbito.tech
        spec:
          type: LoadBalancer
          ports:
          - appProtocol: tcp
            name: mqtt
            port: 1883
            protocol: TCP
            targetPort: mqtt
          selector:
            app.kubernetes.io/component: nats
            app.kubernetes.io/instance: nats-nwk3
            app.kubernetes.io/name: nats
          sessionAffinity: None
