---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: reloader
      version: 2.2.7
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
  values:
    reloader:
      watchGlobally: true
      logLevel: info
      logFormat: json
      reloadStrategy: default

      podMonitor:
        enabled: false
        namespace: reloader
        labels: {}
        honorLabels: true

    deployment:
      replicas: 1
      revisionHistoryLimit: 2
      resources:
        limits:
          cpu: 100m
          memory: 512Mi
        requests:
          cpu: 10m
          memory: 128Mi

    rbac:
      enabled: true

    serviceAccount:
      create: true
