---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-config-v1
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: fast-ceph-block
