---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: syncthing-data-v1
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Ti
  storageClassName: slow-ceph-filesystem
