---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app shelly-mqtt2prometheus
  namespace: monitoring
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: kah-common-chart
      version: 1.2.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 15m
  values:
    global:
      nameOverride: *app
    image:
      repository: ghcr.io/hikhvar/mqtt2prometheus
      tag: latest
    command:
      - "/mqtt2prometheus"
    args:
      - "-config"
      - "/config/config.yaml"
    controller:
      strategy: RollingUpdate
    service:
      main:
        ports:
          http:
            enabled: false
          metrics:
            enabled: true
            port: 9641
    persistence:
      config:
        enabled: true
        type: configMap
        name: shelly-mqtt2prometheus-config
        mountPath: /config
        readOnly: true
    envFrom:
      - secretRef:
          name: *app
    resources:
      requests:
        cpu: 50m
        memory: 200Mi
      limits:
        cpu: 200m
        memory: 596M
    podAnnotations:
      configmap.reloader.stakater.com/reload: "shelly-mqtt2prometheus-config"
    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            mqtt: 
              server: tcp://mosquitto.home.svc.cluster.local:1883
              user: user
              topic_path: "shellies/+/emeter/0/+"
              device_id_regex: "shellies/(?P<deviceid>.*)/emeter/0"
              metric_per_topic_config:
                metric_name_regex: "shellies/(?P<deviceid>.*)/emeter/0/(?P<metricname>.*)"
              qos: 0
            cache:
              timeout: 24h
            metrics:
              - prom_name: consumed_energy_kilowatthours_total
                mqtt_name: "total"
                help: "total measured kilowatthours since flash"
                type: counter
                const_labels:
                  sensor_type: shelly
              - prom_name: voltage_volts
                mqtt_name: "voltage"
                help: "Currently measured voltage"
                type: gauge
                const_labels:
                  sensor_type: shelly
              - prom_name: power_watts
                mqtt_name: "power"
                help: "Currently measured power"
                type: gauge
                const_labels:
                  sensor_type: shelly
              - prom_name: reactive_power_watt
                mqtt_name: "reactive_power"
                help: "Currently reactive power"
                type: gauge
                const_labels:
                  sensor_type: shelly
