apiVersion: kamaji.clastix.io/v1alpha1
kind: TenantControlPlane
metadata:
  name: qgr1
  namespace: kamaji-system
  labels:
    tenant.clastix.io: qgr1
spec:
  dataStore: default
  controlPlane:
    deployment:
      replicas: 1
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
      extraArgs:
        apiServer: []
        controllerManager: []
        scheduler: []
      resources: {}
    service:
      additionalMetadata:
        labels:
          tenant.clastix.io: qgr1
        annotations:
          tailscale.com/hostname: qgr1-k8s
          tailscale.com/expose: "true"
          tailscale.com/proxy-class: "default"
          tailscale.com/tailnet-ip: "100.66.232.13"
      serviceType: ClusterIP
  kubernetes:
    version: v1.34.0
    kubelet:
      cgroupfs: systemd
    admissionControllers:
      - ResourceQuota
      - LimitRanger
  networkProfile:
    address: qgr1-k8s.mole-bowfin.ts.net
    port: 6443
    certSANs:
    - qgr1.cluster.local
    serviceCidr: 10.96.0.0/16
    podCidr: 10.36.0.0/16
    dnsServiceIPs:
    - 10.96.0.10
  addons:
    coreDNS: {}
    kubeProxy: {}
    konnectivity:
      server:
        port: 8132
