---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
  namespace: tailscale
spec:
  interval: 10m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.90.6
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  values:
