---
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: volsync-restic
spec:
  externalSecretName: volsync-restic
  namespaceSelectors:
    - matchLabels:
        volsync.kutara.io/enabled: "true"
  externalSecretSpec:
    refreshInterval: 1h
    secretStoreRef:
      name: bitwarden
      kind: ClusterSecretStore
    target:
      name: volsync-restic
      creationPolicy: Owner
      template:
        type: Opaque
        data:
          # Restic repository using rclone SFTP backend
          RESTIC_REPOSITORY: "rclone:rsyncnet:volsync"
          RESTIC_PASSWORD: "{{ .resticPassword }}"
          # Rclone SFTP configuration (remote name: rsyncnet)
          RCLONE_CONFIG_RSYNCNET_TYPE: sftp
          RCLONE_CONFIG_RSYNCNET_HOST: "{{ .rsyncNetHost }}"
          RCLONE_CONFIG_RSYNCNET_USER: "{{ .rsyncNetUser }}"
          RCLONE_CONFIG_RSYNCNET_PASS: "{{ .rsyncNetPass }}"
          RCLONE_CONFIG_RSYNCNET_SHELL_TYPE: unix
          RCLONE_CONFIG_RSYNCNET_MD5SUM_COMMAND: md5 -r
          RCLONE_CONFIG_RSYNCNET_SHA1SUM_COMMAND: sha1 -r
    data:
      - secretKey: resticPassword
        remoteRef:
          key: volsyncResticPassword
      - secretKey: rsyncNetHost
        remoteRef:
          key: rsyncNetHost
      - secretKey: rsyncNetUser
        remoteRef:
          key: rsyncNetUser
      - secretKey: rsyncNetPass
        remoteRef:
          key: rsyncNetPass
