---
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: rsync-net-ssh-keys
spec:
  externalSecretName: rsync-net-ssh-keys
  namespaceSelectors:
    - matchLabels:
        volsync.kutara.io/enabled: "true"
  externalSecretSpec:
    refreshInterval: 1h
    secretStoreRef:
      name: bitwarden
      kind: ClusterSecretStore
    target:
      name: rsync-net-ssh-keys
      creationPolicy: Owner
      template:
        type: Opaque
    data:
      - secretKey: source
        remoteRef:
          key: rsyncNetPrivateKey
      - secretKey: source.pub
        remoteRef:
          key: rsyncNetPublicKey
      - secretKey: destination.pub
        remoteRef:
          key: rsyncNetHostKey
