---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
  namespace: volsync-system
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      sourceRef:
        kind: HelmRepository
        name: backube-charts
        namespace: flux-system
      version: "0.14.0"
  values:
    manageCRDs: true
