---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: redis-sentinel
  namespace: database
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 15m
  upgrade:
    disableWait: true
    force: true
  chart:
    spec:
      chart: redis
      version: 18.0.2
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
  values:
    global:
      storageClass: fast-ceph-block
    auth:
      enabled: false
      sentinel: false
    master:
      nodeSelector:
        kubernetes.io/arch: amd64
    replica:
      nodeSelector:
        kubernetes.io/arch: amd64
    sentinel:
      enabled: true
      masterSet: redis-master
      getMasterTimeout: 10
      startupProbe:
        failureThreshold: 2
      resources:
        limits:
          cpu: 800m
          memory: 800Mi
        requests:
          cpu: 20m
          memory: 30Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

