---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: cross-seed-api-key
  namespace: media
spec:
  length: 32
  digits: 10
  symbols: 10
  symbolCharacters: "@!"
  noUpper: false
  allowRepeat: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cross-seed
  namespace: media
spec:
  refreshInterval: 1h
  refreshPolicy: CreatedOnce
  target:
    name: cross-seed
    template:
      engineVersion: v2
      data:
        CROSS_SEED_API_KEY: "{{ .password }}"
        config.js: |-
          function fetchIndexers(baseUrl, apiKey, tag){
            const buffer = require('child_process').execSync(`curl -fsSL "$${baseUrl}/api/v1/tag/detail?apikey=$${apiKey}"`);
            const response = JSON.parse(buffer.toString('utf8'));
            const indexerIds = response.filter(t => t.label === tag)[0]?.indexerIds ?? [];
            const indexers = indexerIds.map(i => `$${baseUrl}/$${i}/api?apikey=$${apiKey}`);
            console.log(`Loaded $${indexers.length} indexers from Prowlarr`);
            return indexers;
          }
          module.exports = {
            action: "inject",
            apiKey: "{{ .password }}",
            blockList: ["category:manual"],
            linkCategory: "cross-seed",
            linkDirs: ["/media/Downloads/qbittorrent/complete/cross-seed"],
            linkType: "hardlink",
            matchMode: "partial",
            port: Number(process.env.CROSSSEED_PORT),
            skipRecheck: true,
            radarr: [`http://radarr.media.svc.cluster.local:7878/?apikey=$${process.env.RADARR__AUTH__APIKEY}`],
            sonarr: [`http://sonarr.media.svc.cluster.local:8989/?apikey=$${process.env.SONARR__AUTH__APIKEY}`],
            torrentClients: ["qbittorrent:http://qbittorrent.media.svc.cluster.local"],
            torznab: fetchIndexers("http://prowlarr.media.svc.cluster.local:9696", process.env.PROWLARR__AUTH__APIKEY, "cross-seed"),
            useClientTorrents: true
          };
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: cross-seed-api-key
