# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      cross-seed:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6
            args:
              - daemon
            env:
              TZ: America/New_York
              CROSSSEED_PORT: &port 3000
            envFrom:
              - secretRef:
                  name: cross-seed
              - secretRef:
                  name: sonarr
              - secretRef:
                  name: radarr
              - secretRef:
                  name: prowlarr
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
        statefulset:
          volumeClaimTemplates:
            - name: config
              storageClass: fast-ceph-block
              accessMode: ReadWriteOnce
              size: 5Gi
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 10000
            seccompProfile:
              type: RuntimeDefault

    service:
      app:
        controller: cross-seed
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
          - name: cilium-internal
            namespace: kube-system
        hostnames:
          - cross-seed.qgr1.rabbito.tech

    persistence:
      secret-file:
        type: secret
        name: "{{ .Release.Name }}"
        globalMounts:
          - path: /config/config.js
            subPath: config.js
      media:
        existingClaim: media-v2
        globalMounts:
          - path: /media
