---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      esphome:
        pod:
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 2000
            runAsUser: 2000
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2025.11.4@sha256:46f787c447628af377c4c58c77dcdeb6989da4ee0fd2a8e923e53f5def9d2656
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512Mi
              limits:
                memory: 3072Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: &esphome-port 6052
    persistence:
      config:
        existingClaim: esphome-config
        advancedMounts:
          esphome:
            app:
              - path: /config
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: esphome-tmp
    route:
      app:
        hostnames:
          - esphome.qgr1.rabbito.tech
        parentRefs:
          - name: cilium-internal
            namespace: kube-system

        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: app
                port: *esphome-port
