---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vpa
  namespace: monitoring
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  chart:
    spec:
      chart: vpa
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 15m
  values:
    recommender:
      enabled: true
      extraArgs:
        storage: prometheus
        prometheus-address: |-
          http://thanos-query.monitoring.svc.cluster.local:9090
    updater:
      enabled: false
    admissionController:
      enabled: false
