---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  interval: 15m
  chart:
    spec:
      chart: flux-operator
      version: 0.33.0
      sourceRef:
        kind: HelmRepository
        name: flux-operator
        namespace: flux-system
      interval: 15m
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
