---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 50
      strategy: rollback
  chart:
    spec:
      chart: cilium
      version: 1.18.4
      sourceRef:
        kind: HelmRepository
        name: cilium-charts
        namespace: flux-system
      interval: 5m
  values:
    autoDirectNodeRoutes: true
    bgp:
      announce:
        loadbalancerIP: false
      enabled: false
    cluster:
      id: 1
      name: qgr1-cluster-0
    endpointRoutes:
      enabled: true
    hubble:
      enabled: true
      metrics:
        enabled:
        - dns:query
        - drop
        - tcp
        - flow
        - port-distribution
        - icmp
        - http
        serviceMonitor:
          enabled: false
      relay:
        enabled: true
      # ui:
      #   enabled: true
      #   ingress:
      #     annotations:
      #       cert-manager.io/cluster-issuer: letsencrypt-production
      #     enabled: true
      #     hosts:
      #     - hubble.scr1.rabbito.tech
      #     tls:
      #     - hosts:
      #       - hubble.scr1.rabbito.tech
      #       secretName: hubble-tls
    ipam:
      mode: kubernetes
    k8sServiceHost: qgr1-k8s.mole-bowfin.ts.net
    k8sServicePort: 6443
    kubeProxyReplacement: "true"
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    localRedirectPolicy: true
    operator:
      prometheus:
        enabled: false
        serviceMonitor:
          enabled: false
    prometheus:
      enabled: false
      serviceMonitor:
        enabled: false
    routingMode: native
    ipv4NativeRoutingCIDR: 10.36.0.0/16
