---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: home
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: mosquitto
      version: 4.8.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
  values:
    priorityClassName: home-cluster-critical
    image:
      repository: docker.io/library/eclipse-mosquitto
      tag: 2.0.17
    service:
      main:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: "10.45.0.1"
        externalTrafficPolicy: Local
    auth:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: mosquitto
    resources:
      requests:
        memory: 30Mi
        cpu: 10m
      limits:
        cpu: 200m
        memory: 200Mi
    persistence:
      data:
        enabled: true
        existingClaim: mosquitto-config-v2
      configinc:
        enabled: true
        type: configMap
        mountPath: /mosquitto/configinc
        name: mqtt-conf
      mosquitto-pwd:
        enabled: true
        type: secret
        mountPath: /mosquitto/configinc/auth
        name: mosquitto-pwd
