---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - config-pvc.yaml
namespace: home
generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: mosquitto-pwd
    files:
      - mosquitto_pwd=mosquitto_pwd.sops

configMapGenerator:
  - name: mqtt-conf
    files:
      - mqtt.conf
