---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.2.12
      sourceRef:
        kind: HelmRepository
        name: kubelet-csr-approver-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    providerRegex: "^worker-.*"

    maxExpirationSeconds: "31536000"  # 1 year (365 days)
    allowedDnsNames: 1
    bypassDnsResolution: false
    bypassHostnameCheck: false
    ignoreNonSystemNode: false

    leaderElection: true
    replicas: 2

    resources:
      requests:
        memory: "64Mi"
        cpu: "100m"
      limits:
        memory: "128Mi"
        cpu: "500m"

    rbac:
      manage: true
