---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: lidarr
      version: 14.2.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:8b3482738ce9dc9aa053c06da2967de4dd5b5c5d6ace80c2ec5d3922397afd82
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/onedr0p/lidarr
      tag: 1.0.2.2592@sha256:39ca1d7b499b300cb096d8f905c9275d57d72ce303c40af379a7b9b9912d5e69
    env:
      TZ: "America/New_York"
      LIDARR__INSTANCE_NAME: Lidarr
      LIDARR__BRANCH: master
      LIDARR__LOG_LEVEL: info
    envFrom:
      - secretRef:
          name: lidarr
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: "lidarr.scr1.rabbito.tech"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: lidarr-tls
            hosts:
              - "lidarr.scr1.rabbito.tech"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        existingClaim: lidarr-config-v1
      media:
        enabled: true
        existingClaim: media
        mountPath: /media
      backup:
        enabled: true
        existingClaim: lidarr-backup-v1
        mountPath: /config/Backups
    resources:
      requests:
        memory: 128Mi
        cpu: 128m
      limits:
        memory: 1024Mi
        cpu: 500m
