---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: node-feature-discovery
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.18.3
      sourceRef:
        kind: HelmRepository
        name: node-feature-discovery-charts
        namespace: flux-system
  values:
    master:
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: 100m
          memory: 128Mi

    worker:
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 5m
          memory: 64Mi


      config:
        core:
          sources:
            - pci
            - usb
        sources:
          usb:
            deviceClassWhitelist:
              - "02"
              - "03"
              - "0e"
              - "ef"
              - "fe"
              - "ff"
            deviceLabelFields:
              - "class"
              - "vendor"
              - "device"

    gc:
      enable: true
      interval: 1h
      replicaCount: 1
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 10m
          memory: 128Mi
