---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./gitops/core/base/crds/traefik/default
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
