---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 39.13.3
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
  valuesFrom:
    - kind: Secret
      name: kube-prometheus-stack
      valuesKey: discord-webhook
      targetPath: alertmanager.config.global.slack_api_url
      optional: false
    - kind: ConfigMap
      name: prometheus-values
    - kind: ConfigMap
      name: alertmanager-values
  values:
    fullnameOverride: prom
    kubeEtcd:
      enabled: true
    kubeControllerManager:
      enabled: true
    kubeScheduler:
      enabled: true
    kubeProxy:
      enabled: false
    defaultRules:
      rules:
        time: false
    prometheusOperator:
      resources:
        requests:
          cpu: 50m
          memory: 143M
        limits:
          cpu: 150m
          memory: 1192M
      prometheusConfigReloader:
        resources:
          requests:
            cpu: 200m
            memory: 50Mi
          limits:
            cpu: 400m
            memory: 50Mi
    grafana:
      enabled: false
#      forceDeployDashboards: false
#      sidecar:
#        dashboards:
#          multicluster:
#            etcd:
#              enabled: false
    prometheus-node-exporter:
      resources:
        requests:
          cpu: 200m
          memory: 105M
        limits:
          cpu: 400m
          memory: 279M
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - __meta_kubernetes_pod_node_name
              targetLabel: kubernetes_node
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - __meta_kubernetes_pod_node_name
              targetLabel: instance
    kubeStateMetrics:
      enabled: true
      resources:
        requests:
          cpu: 15m
          memory: 105M
        limits:
          cpu: 90m
          memory: 407M
