# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      jellyfin:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5
            env:
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
                amd.com/gpu: 1
              limits:
                memory: 12Gi
                amd.com/gpu: 1
        pod:
          priorityClassName: media-cluster-critical
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 39
              - 44
              - 105
              - 109
            seccompProfile:
              type: RuntimeDefault

    defaultPodOptions:
      nodeSelector:
        feature.node.kubernetes.io/custom-vega11-gpu: "true"

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - jellyfin.qgr1.rabbito.tech
        parentRefs:
          - name: cilium-internal
            namespace: kube-system
    persistence:
      config:
        existingClaim: jellyfin-config
        globalMounts:
          - path: /config
      media:
        existingClaim: media-v2
        globalMounts:
          - path: /media
      transcode:
        type: emptyDir
        globalMounts:
          - path: /cache
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
