---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-public
  namespace: networking
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system
      interval: 5m
  values:
    interval: 5m
    # logLevel: debug
    serviceMonitor:
      enabled: true
    provider: cloudflare
    triggerLoopOnEvent: true
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: external-dns
            key: cf-email
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns
            key: cf-api-token
    policy: sync
    txtPrefix: "${CLUSTER_NAME}."
    sources:
      - crd
      - gateway-httproute
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=envoy-external
      - --cloudflare-proxied
    resources:
      requests:
        cpu: 15m
        memory: 105M
      limits:
        cpu: 40m
        memory: 245M
