---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: kickstart-s3-to-prod
  namespace: sway-sig
spec:
  params:
    - name: s3-credentials
      type: string
      description: name of the s3 secret credentials
      default: sway-sig-v1
    - name: FEDORA_VERSION
      type: string
      description: The version of fedora.
  workspaces:
    - name: target
  steps:
    - name: move-s3-to-tmp
      image: docker.io/peakcom/s5cmd:latest@sha256:cd00d2908f021c0ef8188d2b115d3bbf706dcdabaed2aef8b8e213ec09373bc2
      args:
        - --endpoint-url
        - http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc.cluster.local 
        - mv 
        - s3://sway-sig/iso/Fedora-Sway-Live-$(params.FEDORA_VERSION)*
        - $(workspaces.target.path)/iso/tmp/
      env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: $(params.s3-credentials)
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: $(params.s3-credentials)
              key: AWS_SECRET_ACCESS_KEY
    - name: move-tmp-to-prod
      image: bash@sha256:e8b0bcf7fe88eb07bc18e448e329673ba1e3833dead555d1b56c69466706de19
      script: |
        #!/usr/bin/env bash
        mv $(workspaces.target.path)/iso/tmp/Fedora-Sway-Live-$(params.FEDORA_VERSION)* $(workspaces.target.path)/iso 
