allow bootp;
allow booting;

class "httpclients" {
  match if substring (option vendor-class-identifier, 0, 10) = "HTTPClient";
  option vendor-class-identifier "HTTPClient";
  filename "https://matchbox.nyc1.rabbito.tech";
}
