#!/bin/vbash

# Not currently used in favor of Ansible pull for lockouts. Need to vist which option makes most sense...

source /opt/vyatta/etc/functions/script-template
# run show interfaces
# exit

# source /opt/vyatta/etc/functions/script-template
# configure
# set protocols bgp local-as 65536
# set protocols bgp neighbor 192.168.2.1 shutdown
# commit
# exit
---
logger -t wg01_check start
#ping tunnel home1
if ! /bin/ping -c 2 -W 2 -I wg01 10.200.200.1 &>/dev/null; then
    echo "Failed"
    echo "wg02_check no L3 connectivity, restarting.."
    ip_address="$(host -4 <hostname> | awk '/has.*address/{print $NF; exit}')"
    logger -t wg01_check no L3 connectivity, restarting wg1
    configure
    echo "removing endpoint"
    delete interfaces wireguard wg01 peer <alias> address <ipv4>
    commit
    # set endpoint and commit
    echo "Enabling <alias>"
    set interfaces wireguard wg01 peer <alias> address <ipv4>
    commit
    # end configure mode
    save
    exit
    logger -t wg01_check <alias> restarted
else
    logger -t wg01_check L3 connectivity is ok
fi
logger -t wg01_check end
