---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rbac
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/rbac
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-config
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/base/flux-system/cluster-config/overlays/qgr1-cluster-0
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-definitions
  namespace: flux-system
spec:
  interval: 10m0s
  retryInterval: 2m0s
  timeout: 5m
  dependsOn:
    - name: cluster-config
  path: ./k8s/clusters/qgr1-cluster-0/definitions
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute: {}
    substituteFrom:
      - kind: ConfigMap
        name: global-cluster-config
      - kind: ConfigMap
        name: cluster-config
  patches:
    - patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: not-used
          namespace: not-used
        spec:
          interval: 30m
          retryInterval: 1m
          timeout: 5m
          wait: false
          sourceRef:
            kind: GitRepository
            name: flux-system
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v1
                kind: HelmRelease
                metadata:
                  name: not-used
                  namespace: not-used
                spec:
                  interval: 30m
                  timeout: 10m
                  install:
                    createNamespace: true
                    timeout: 15m
                    remediation:
                      retries: 50
                  upgrade:
                    cleanupOnFail: true
                    timeout: 10m
                    remediation:
                      retries: 50
                      strategy: rollback
                      remediateLastFailure: true
                  uninstall:
                    keepHistory: false
                  rollback:
                    timeout: 10m
              target:
                kind: HelmRelease
                group: helm.toolkit.fluxcd.io
                version: v2
                labelSelector: "component.kutara.io/part-of=standard-helm-release"
          postBuild:
            substitute: {}
            substituteFrom:
              - kind: ConfigMap
                name: global-cluster-config
              - kind: ConfigMap
                name: cluster-config
      target:
        kind: Kustomization
        group: kustomize.toolkit.fluxcd.io
        version: v1
        labelSelector: "component.kutara.io/part-of=definitions"
