---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kamaji
  namespace: kamaji-system
spec:
  interval: 10m
  chart:
    spec:
      chart: charts/kamaji
      sourceRef:
        kind: GitRepository
        name: clastix
        namespace: flux-system
  values:
    image:
      tag: edge-25.12.1
