# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      plex:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: America/New_York
              PLEX_ADVERTISE_URL: https://plex.kutara.io:443,http://10.45.0.5:32400,http://plex.media.svc.cluster.local:32400
              # TODO: Update these
              # PLEX_NO_AUTH_NETWORKS: 192.168.10.0/24
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
                amd.com/gpu: 1
              limits:
                memory: 12Gi
                amd.com/gpu: 1
        pod:
          priorityClassName: media-cluster-critical
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 39
              - 44
              - 105
              - 109
            seccompProfile:
              type: RuntimeDefault

    defaultPodOptions:
      nodeSelector:
        feature.node.kubernetes.io/custom-vega11-gpu: "true"

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.45.0.5
        externalTrafficPolicy: Local
        ports:
          http:
            port: 32400

    route:
      app:
        hostnames:
          - plex.kutara.io
        parentRefs:
          - name: cilium-external
            namespace: kube-system
        rules:
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: 32400
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - identifier: app
                port: 32400

    persistence:
      config:
        existingClaim: plex-config
        globalMounts:
          - path: /config
      media:
        existingClaim: media-v2
        globalMounts:
          - path: /media
      transcode:
        type: emptyDir
        globalMounts:
          - path: /transcode
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
