---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: plex
      version: 6.4.3
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    priorityClassName: system-node-critical
    initContainers:
      update-volume-permission:
        image: busybox@sha256:ad9bd57a3a57cc95515c537b89aaa69d83a6df54c4050fcf2b41ad367bec0cd5
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/onedr0p/plex-beta
      tag: 1.29.1.6260-420892357@sha256:07ddfa256be584c006127e5e450f48cd5e41b87c1d1f22f92cb2e696ec1c210b
    env:
      TZ: "America/New_York"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 44
        - 109
    service:
      main:
        ipFamilyPolicy: PreferDualStack
      tcp-discover:
        enabled: true
        externalTrafficPolicy: Local
        ports:
          dnla-tcp:
            enabled: true
            port: 32469
            protocol: TCP
            targetPort: 32469
            nodePort: 32469
        type: NodePort
      udp-discover:
        enabled: true
        externalTrafficPolicy: Local
        type: NodePort
        ports:
          dnla-udp:
            enabled: true
            port: 1900
            protocol: UDP
            targetPort: 1900
          gdm-1:
            enabled: true
            port: 32410
            protocol: UDP
            targetPort: 32410
            nodePort: 32410
          gdm-2:
            enabled: true
            port: 32412
            protocol: UDP
            targetPort: 32412
            nodePort: 32412
          gdm-3:
            enabled: true
            port: 32413
            protocol: UDP
            targetPort: 32413
            nodePort: 32413
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          # TODO: This is as is breaks clients figure out a way for it to not.
          # nginx.ingress.kubernetes.io/app-root: /web
          hajimari.io/enable: "true"
          hajimari.io/icon: "plex"
          hajimari.io/appName: "plex"
          hajimari.io/url: "https://plex.kutara.io/web/"
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Sec-WebSocket-Extensions $http_sec_websocket_extensions;
            proxy_set_header Sec-WebSocket-Key $http_sec_websocket_key;
            send_timeout 100m;
            gzip on;
            gzip_vary on;
            gzip_min_length 1000;
            gzip_proxied any;
            gzip_types text/plain text/css text/xml application/xml text/javascript application/x-javascript image/svg+xml;
            gzip_disable "MSIE [1-6]\.";
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        hosts:
          - host: "plex.kutara.io"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: plex-tls
            hosts:
              - "plex.kutara.io"
    persistence:
      config:
        enabled: true
        existingClaim: plex-config-v1
      media:
        enabled: true
        existingClaim: media
        mountPath: /media
      backup:
        enabled: true
        existingClaim: plex-backup-v1
        mountPath: /config/Backups
      transcode:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 128m
        memory: 2048M
        gpu.intel.com/i915: 1
      limits:
        cpu: 2000m
        gpu.intel.com/i915: 1
        memory: 4096M
    podAnnotations:
      backup.velero.io/backup-volumes: config
