[defaults]
inventory = inventory/inventory.ini

host_key_checking=False
gathering = smart
display_skipped_hosts = no
callback_whitelist = profile_tasks
roles_path = roles
vars_plugins_enabled = host_group_vars,community.sops.sops

[inventory]
ignore_patterns = artifacts, credentials

