---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 15m
  chart:
    spec:
      chart: external-secrets
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 15m
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    bitwarden-sdk-server:
      enabled: true
      tls:
        enabled: true
        secretName: bitwarden-tls-certs
