---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
  namespace: volsync-system
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      sourceRef:
        kind: HelmRepository
        name: backube-charts
        namespace: flux-system
      version: "0.13.0"
  values:
    manageCRDs: true
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      fsGroup: 65532
      seccompProfile:
        type: RuntimeDefault
    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop: ["ALL"]
