---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tautulli
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: tautulli
      version: 11.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:b94dff621dc65c1a3627e2e03cd81ad2659b213c244434dec768ddaaf150ef59
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/k8s-at-home/tautulli
      tag: v2.10.3
    env:
      TZ: America/New_York
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host "tautulli.scr1.rabbito.tech"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: tautulli-tls
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    podAnnotations:
      backup.velero.io/backup-volumes: config
    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config-v1
      backup:
        enabled: true
        existingClaim: tautulli-backup-v1
        mountPath: /config/backups
    resources:
      requests:
        cpu: 128m
        memory: 64M
      limits:
        memory: 640M
        cpu: 500m
