---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:node-delete
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:node-delete
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:node-delete
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: system:nodes
