---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: seerr-api-key
  namespace: media
spec:
  length: 32
  digits: 10
  symbols: 10
  symbolCharacters: "$@!"
  noUpper: false
  allowRepeat: true
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: seerr
  namespace: media
spec:
  refreshInterval: 1h
  refreshPolicy: CreatedOnce
  target:
    name: seerr
    template:
      engineVersion: v2
      data:
        API_KEY: "{{ .password }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: seerr-api-key
