
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: calibre-web
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 0.1.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:20142e89dab967c01765b0aea3be4cec3a5957cc330f061e5503ef6168ae6613
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/linuxserver/calibre-web
      tag: version-0.6.19
    env:
      DOCKER_MODS: ghcr.io/linuxserver/mods:universal-calibre
      PGID: "65539"
      PUID: "1000"
    service:
      main:
        ports:
          http:
            port: 8083
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: &host calibre-web.scr1.rabbito.tech
            paths:
              - path: /
        tls:
          -  secretName: calibre-web-tls
             hosts:
              - *host
      kobo:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: &host_kobo calibre-kobo.scr1.rabbito.tech
            paths:
              - path: /kobo/
        tls:
          - hosts:
              - *host_kobo
    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-config-v1
      media:
        enabled: true
        existingClaim: media
        mountPath: /media
    resources:
      requests:
        cpu: 15m
        memory: 249M
      limits:
        memory: 299M
