---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: cert-manager
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: jetstack-charts
        namespace: flux-system
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    installCRDs: true
    replicaCount: 3
    webhook:
      replicaCount: 3
    cainjector:
      replicaCount: 3
    extraArgs:
      - --dns01-recursive-nameservers=1.1.1.1:53,1.0.0.1:53
      - --dns01-recursive-nameservers-only
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - "1.1.1.1"
        - "1.0.0.1"
    prometheus:
      enabled: false
      servicemonitor:
        enabled: false
        prometheusInstance: monitoring
    config:
      apiVersion: controller.config.cert-manager.io/v1alpha1
      kind: ControllerConfiguration
      enableGatewayAPI: true
