apiVersion: v1
kind: Pod
metadata:
  name: task-pv-pod
  namespace: sway-sig
spec:
  containers:
    - name: task-pv-container
      image: ghcr.io/anthr76/kutara-ostree:latest
      command:
        - sh
        - -c
      args:
        - sleep 1d
      volumeMounts:
        - mountPath: "/prod"
          name: task-pv-storage
          subPath: nginx
        - mountPath: "/scratch"
          name: task-pv-storage
          subPath: scratch-repo
  volumes:
    - name: task-pv-storage
      persistentVolumeClaim:
        claimName: sway-nginx-v2
