---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: slow-ceph-block
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-backup-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: fast-ceph-block
