---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: prowlarr-api-key
  namespace: media
spec:
  length: 32
  digits: 10
  symbols: 10
  symbolCharacters: "@!#%"
  noUpper: false
  allowRepeat: true
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
  namespace: media
spec:
  refreshInterval: 1h
  refreshPolicy: CreatedOnce
  target:
    name: prowlarr
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: "{{ .password }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: prowlarr-api-key
