---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: media
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: prowlarr
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:ef320ff10026a50cf5f0213d35537ce0041ac1d96e9b7800bafd8bc9eff6c693
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    podAnnotations:
      backup.velero.io/backup-volumes: config
    image:
      repository: ghcr.io/onedr0p/prowlarr-nightly
      tag: 0.4.4.1935@sha256:9df7d93a7af2dcff236c308e2278ea2e533e9f9257b5ada87e2178d54a8f3d85        
    env:
      TZ: "America/New_York"
      PROWLARR__LOG_LEVEL: info
      PROWLARR__BRANCH: nightly
      PROWLARR__APPLICATION_URL: "https://{{ .Release.Name }}.${INT_DOMAIN}"
      PROWLARR__POSTGRES_USER: k8s
      PROWLARR__POSTGRES_HOST: db-01.scr1.rabbito.tech
      PROWLARR__POSTGRES_MAIN_DB: prowlarr-main
      PROWLARR__POSTGRES_LOG_DB: prowlarr-log
    envFrom:
      - secretRef:
          name: prowlarr
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: "prowlarr.${INT_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: prowlarr-tls
            hosts:
              - "prowlarr.${INT_DOMAIN}"
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    persistence:
      config:
        enabled: true
        existingClaim: prowlarr-config-v1
      backup:
        enabled: true
        existingClaim: prowlarr-backup-v1
        mountPath: /config/Backups
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 500Mi
