---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: bitwarden-ca-bundle
spec:
  sources:
  - secret:
      name: bitwarden-tls-certs
      key: ca.crt
  target:
    configMap:
      key: ca.crt
    namespaceSelector:
      matchLabels:
        bitwarden-sdk-ca-bundle: "true"
