---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: monitoring
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: goldilocks
      version: 6.1.4
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 15m
  values:
    controller:
      resources:
        requests:
          cpu: 10m
          memory: 64M
        limits:
          memory: 250M
    dashboard:
      replicaCount: 1
      ingress:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        enabled: true
        ingressClassName: "nginx"
        hosts:
          - host: &host "goldilocks.scr1.rabbito.tech"
            paths:
              - path: /
                type: Prefix
        tls:
          - hosts:
              - *host
      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 100M
