---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: qui-session-secret
  namespace: media
spec:
  length: 32
  digits: 10
  symbols: 10
  symbolCharacters: ""
  noUpper: false
  allowRepeat: true
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qui
  namespace: media
spec:
  refreshInterval: 1h
  target:
    name: qui
    template:
      engineVersion: v2
      data:
        QUI__SESSION_SECRET: "{{ .password }}"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: qui-session-secret
