---
name: Publish docs via GitHub Pages

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - "docs-*"
      - main
    paths:
      - ".github/workflows/docs.yaml"
      - ".github/contrib/mkdocs.yml"
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONFIG_FILE: .github/contrib/mkdocs.yml
