---
data_dir: /vector-data-dir
sources:
  journal_logs:
    type: journald
    journal_directory: /var/log/journal
sinks:
  vector_sink:
    type: vector
    inputs:
      - journal_logs
    labels:
      hostname: "{{ inventory_hostname }}"
    address: "vector-aggregator.monitoring.scr1.rabbito.tech:6002"
    version: "2"
