---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 5m
  chart:
    spec:
      chart: zigbee2mqtt
      version: 9.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    podAnnotations:
      backup.velero.io/backup-volumes: config
    image:
      repository: docker.io/koenkk/zigbee2mqtt
      # FIXME: https://github.com/Koenkk/zigbee2mqtt/issues/12697
      # repository: ghcr.io/koenkk/zigbee2mqtt
      tag: "1.27.0"
    env:
      TZ: America/New_York
      ZIGBEE2MQTT_DATA: /data
    config:
      homeassistant: true
      device_options:
        retain: true
      permit_join: false
      mqtt:
        base_topic: zigbee2mqtt
        force_disable_retain: false
        server: "mqtt://mosquitto.home.svc.cluster.local"
        user: "${MQTT_USER}"
        password: "${MQTT_USER_PW}"
      serial:
        port: "tcp://espressif.scr1.rabbito.tech:6638"
      advanced:
        log_output:
          - console
        network_key:
          - 84
          - 96
          - 188
          - 165
          - 226
          - 169
          - 67
          - 66
          - 33
          - 71
          - 106
          - 159
          - 53
          - 180
          - 30
          - 128
        pan_id: 21505
      frontend:
        port: 8080
      experimental:
        new_api: true
    securityContext:
      privileged: true
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: "zigbee2mqtt.${INT_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: zigbee2mqtt-tls
            hosts:
              - "zigbee2mqtt.${INT_DOMAIN}"
    persistence:
      config:
        enabled: true
        existingClaim: zigbee2mqtt-config-v1
        mountPath: "/data"
