---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
  labels:
    component.kutara.io/part-of: standard-helm-release
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    priorityClassName: home-cluster-critical
    controller:
      type: statefulset
    image:
      repository: ghcr.io/koenkk/zigbee2mqtt
      tag: 2.7.2@sha256:60a295b40f4e7fb7ab4d995932369e50f2529837272fa4979e986ec1ffdb7fce
    env:
      TZ: America/New_York
      ZIGBEE2MQTT_DATA: /data
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: "zigbee2mqtt.scr1.rabbito.tech"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: zigbee2mqtt-tls
            hosts:
              - "zigbee2mqtt.scr1.rabbito.tech"
    volumeClaimTemplates:
      - name: config
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: fast-ceph-block
